---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Testimony from "../components/Testimony.astro";
import Project from "../components/Project.astro";
import { slugify } from "../scripts/url";

// loads first 3 testimonies
const testimoniesCollections = await getCollection("testimonies");
const testimonies = await Promise.all(
  testimoniesCollections.slice(0, 3).map(async (v) => {
    const { Content } = await v.render();
    return {
      ...v,
      Content,
    };
  })
);

// loads first 3 projects
const projectsCollection = await getCollection("projects");
const projects = projectsCollection.slice(0, 3);
---

<Layout title="M Adnan Rizqullah, Software Engineer">
  <main>
    <section id="hero">
      <canvas id="hero_background" class="hero_background"></canvas>
      <div class="hero cmn_container">
        <div class="hero__img_container">
          <img
            class="hero_img"
            alt="Picture of Adnan smiling"
            srcset="/images/hero_mobile.png 500w, /images/hero.png 1000w"
            sizes="(max-width: 600px) 480px, 1000px"
          />
        </div>
        <div class="hero__main">
          <span class="hero__subheadline"
            >Hi, I'm <span class="hero__name">Adnan</span> a Software Engineer</span
          >
          <h1 class="hero__headline">
            I help you create
            <span class="hero__dynamic_text_holder">
              <span id="hero__dynamic_text" class="hero__dynamic_text"
                >smooth</span
              >
            </span>
            web apps!
          </h1>
        </div>
        <footer class="hero__navs mt-2">
          <div class="hero__buttons">
            <a href="/#portfolio_target" class="cmn_button--outline"
              >Learn More</a
            >
            <a href="/contact/" class="cmn_button--solid_secondary"
              >Contact Me</a
            >
          </div>
        </footer>
      </div>
    </section>

    <section class="portfolio">
      <div class="portfolio_inner cmn_container">
        <div id="portfolio_target"></div>
        <div>
          <h2 class="portfolio__headline">Summary</h2>
          <div class="portolio__description">
            <p>
              I have been a Software Engineer in the industry for 4 years,
              specializing in Frontend. I've worked at companies of various
              sizes, from bootstraped startups to decacorn tech companies. I
              also have experience working at both product and platform teams. I
              have experience in building apps to defining engineering best
              practices for the team. My main tech stacks are: React, Next.js,
              Typescript, and Express.js
            </p>

            <p>
              I also have bachelors degree at Informatics (similar to Computer
              Science). Furthermore right now I am working on my Masters Degree
              at Computer Science
            </p>

            <p>
              Besides work, I like to give back to the community and help people
              in software engineering. I am have experience in mentoring, being
              speakers at workshops and creating educational content on social
              medias
            </p>

            <p>
              Right now I am
              <span class="portfolio__emphasis">currently available</span> for
              <span class="portfolio__emphasis"
                >remote part time / project based work</span
              >
            </p>
          </div>
        </div>
      </div>
      <aside class="portfolio_stats">
        <div class="portfolio_stats__inner cmn_container">
          <div class="portfolio_stat">
            <span class="portfolio_stat__label">Companies</span>
            <span class="portfolio_stat__value">5</span>
          </div>
          <div class="portfolio_stat">
            <span class="portfolio_stat__label">Projects</span>
            <span class="portfolio_stat__value">20+</span>
          </div>
          <div class="portfolio_stat">
            <span class="portfolio_stat__label">Users</span>
            <span class="portfolio_stat__value">10M+</span>
          </div>
          <div class="portfolio_stat">
            <span class="portfolio_stat__label">Speaker Events</span>
            <span class="portfolio_stat__value">10+</span>
          </div>
          <div class="portfolio_stat">
            <span class="portfolio_stat__label">Mentees</span>
            <span class="portfolio_stat__value">6</span>
          </div>
        </div>
      </aside>
      <footer class="portfolio_footer cmn_container">
        <a href="/portfolio/#background" class="cmn_button--outline_primary"
          >Read More About My Work</a
        >
      </footer>
    </section>

    <section class="social_proof">
      <div class="cmn_container">
        <h2 class="social_proof__headline">What Others Say About Me</h2>
        <ol class="social_proof_list">
          {
            testimonies.map((v) => (
              <li>
                <Testimony
                  dialogId={`dialog_testimony_${v.data.id}`}
                  summary={v.data.shortVersion}
                  author={v.data.author}
                >
                  <v.Content />
                </Testimony>
              </li>
            ))
          }
        </ol>
        <footer class="social_proof_footer">
          <a
            href="/portfolio/#social_proof"
            class="cmn_button--outline_secondary">Read More Testimonies</a
          >
        </footer>
      </div>
    </section>

    <section class="projects cmn_container">
      <h2 class="projects__headline">Projects</h2>
      <ol class="projects__list">
        {
          projects.map((p) => (
            <li>
              <Project
                {...p.data}
                projectDetailSlug={`/projects/${slugify(p.data.title)}`}
              />
            </li>
          ))
        }
      </ol>

      <footer class="projects__footer">
        <a href="/portfolio/#projects" class="cmn_button--outline_secondary"
          >Read More Projects</a
        >
      </footer>
    </section>

    <section class="call_to_action">
      <div class="cmn_container">
        <h2 class="call_to_action__headline">
          Are you in need of a web development talent ?
          <span class="call_to_action__headline__emphasis"
            >Don't settle for average. Let's discuss how I can make a
            difference.</span
          >
        </h2>
        <a
          href="/contact/"
          class="cmn_button--outline_white call_to_action__button">Contact me</a
        >
      </div>
    </section>
  </main>
</Layout>

<script>
  import Typed from "typed.js";

  import { elNotFound } from "../scripts/error";

  const setHeroBackground = () => {
    // Initialising the canvas
    const canvas = document.getElementById(
      "hero_background"
    ) as HTMLCanvasElement | null;
    if (!canvas) {
      throw new Error(elNotFound("hero_background"));
    }

    const ctx = canvas.getContext("2d");
    if (!ctx) {
      throw new Error("Failed to get canvas context");
    }

    const parent = document.getElementById("hero");
    if (!parent) {
      throw new Error(elNotFound("hero"));
    }

    // Setting the width and height of the canvas
    canvas.width = parent.clientWidth;
    canvas.height = parent.clientHeight;

    // Setting up the letters
    const letters = "01".split("");

    // Setting up the columns
    const fontSize = 13,
      columns = canvas.width / fontSize;

    // Setting up font size
    ctx.font = `${fontSize}px monospace`;

    // Setting up the drops
    const drops: number[] = [];
    for (let i = 0; i < columns; i++) {
      drops[i] = 1;
    }

    // Setting up the draw function
    const draw = () => {
      ctx.fillStyle = "rgba(255, 255, 255, .1)";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      for (let i = 0; i < drops.length; i++) {
        const text = letters[Math.floor(Math.random() * letters.length)];
        ctx.fillStyle = "rgba(31, 169, 200, 0.221)";
        ctx.fillText(text, i * fontSize, drops[i] * fontSize);
        drops[i]++;
        if (drops[i] * fontSize > canvas.height && Math.random() > 0.95) {
          drops[i] = 0;
        }
      }
    };

    // Loop the animation
    setInterval(draw, 99);
  };

  const setHeroAnimatedHeadline = () => {
    const text = document.getElementById("hero__dynamic_text");
    if (!text) {
      throw new Error(elNotFound("hero__dynamic_text"));
    }

    try {
      // Set to no content to avoid jitter
      text.textContent = "";

      new Typed("#hero__dynamic_text", {
        strings: ["smooth", "reliable", "engaging", "aesthetic", "powerful"],
        typeSpeed: 150,
        startDelay: 300,
        loop: true,
        showCursor: false,
        backSpeed: 150,
      });
    } catch (error) {
      text.textContent = "smooth"; // add fallback incase type.js fails to load
    }
  };

  setHeroBackground();
  setHeroAnimatedHeadline();
</script>

<style>
  @import url("/common.css");

  /* HERO SECTION */
  .hero {
    position: relative;
    height: 100dvh;
    padding-top: 5.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .hero_background {
    position: absolute;
  }

  .hero__img_container img {
    filter: grayscale(100%);
  }

  /* for tablets */
  @media screen and (min-width: 650px) {
    .hero {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .hero__img_container {
    display: flex;
    justify-content: center;
  }

  .hero__img_container img {
    height: 100%;
  }
  .hero__img_container {
    max-height: 320px;
  }
  /* for tablets */
  @media screen and (min-width: 650px) {
    .hero__img_container {
      order: 2;
    }

    .hero__img_container {
      height: 50vh;
      max-height: none;
    }
  }
  /* for desktops */
  @media screen and (min-width: 1368px) {
    .hero__img_container {
      height: 70vh;
      max-height: 700px;
      position: relative;
      bottom: 3rem;
    }
  }

  .hero__main {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .hero__subheadline {
    font-weight: var(--font-bold);
  }

  @media screen and (min-height: 700px) {
    .hero__headline {
      font-size: 4.6rem;
    }
  }
  @media screen and (min-height: 800px) {
    .hero__headline {
      font-size: 5.4rem;
    }
  }
  @media screen and (min-width: 1368px) {
    .hero__headline {
      font-size: 6.2rem;
    }
  }

  .hero__name {
    color: var(--secondary);
  }

  .hero__dynamic_text_holder {
    display: flex;
    align-items: center;
    font-size: inherit;
    height: 2rem;
  }
  @media screen and (min-height: 700px) {
    .hero__dynamic_text_holder {
      height: 5rem;
    }
  }
  @media screen and (min-height: 800px) {
    .hero__dynamic_text_holder {
      height: 6rem;
    }
  }

  .hero__dynamic_text {
    background: #1faac8;
    background: linear-gradient(to right, #f75c03 28%, #1faac8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: inherit;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    line-height: 8rem;
  }
  @media screen and (min-height: 700px) {
    .hero__dynamic_text {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  @media screen and (min-height: 1000px) {
    .hero__dynamic_text {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .hero__navs {
    position: absolute;
    bottom: 1.6rem;
  }

  .hero__buttons {
    display: flex;
    gap: 0.4rem;
    width: 100%;
  }

  /* PORTFOLIO SECTION */
  .portfolio {
    position: relative;
    background-color: var(--black);
    color: var(--white);
    padding-top: var(--page-section-pad-y);
    padding-bottom: var(--page-section-pad-y);
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }

  #portfolio_target {
    position: absolute;
    top: -6.4rem;
  }

  .portfolio__headline {
    color: var(--primary);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
  }

  .portolio__description {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .portfolio__emphasis {
    font-weight: var(--font-bold);
  }

  .portfolio_stats {
    background-color: var(--black);
    color: var(--white);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .portfolio_stat__label {
    font-size: 1.6rem;
    background: #1faac8;
    background: linear-gradient(to right, #f75c03 28%, #1faac8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .portfolio_stat__value {
    font-size: 3.2rem;
    font-weight: var(--font-bold);
    background: #1faac8;
    background: linear-gradient(to right, #f75c03 28%, #1faac8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .portfolio_stats__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
  }
  @media screen and (min-width: 650px) {
    .portfolio_stats__inner {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (min-width: 1368px) {
    .portfolio_stats__inner {
      display: flex;
      justify-content: space-between;
    }
  }

  .portfolio_stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }

  .portfolio_footer,
  .portfolio_footer > a {
    width: 100%;
  }

  /* SOCIAL PROOF SECTION */
  .social_proof {
    padding-top: var(--page-section-pad-y);
    padding-bottom: var(--page-section-pad-y);
    background-color: var(--grey);
  }

  .social_proof__headline {
    color: var(--primary);
    font-weight: var(--font-bold);
    margin-bottom: 1.6rem;
  }

  .social_proof_list {
    list-style-type: none;
    display: grid;
    gap: 3.8rem;
    margin-bottom: 3.6rem;
  }

  @media screen and (min-width: 650px) {
    .social_proof_list {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      justify-items: center;
    }
  }

  .social_proof_footer,
  .social_proof_footer > a {
    width: 100%;
  }

  /* PROJECTS SECTION */
  .projects {
    padding-top: var(--page-section-pad-y);
    padding-bottom: var(--page-section-pad-y);
  }

  .projects__headline {
    color: var(--primary);
    font-weight: var(--font-bold);
    margin-bottom: 2.4rem;
  }

  .projects__list {
    list-style-type: none;
    display: grid;
    gap: 3.6rem;
    margin-bottom: 2.4rem;
  }
  @media screen and (min-width: 650px) {
    .projects__list {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      justify-items: center;
    }

    .projects__list > li:last-child {
      grid-column: span 2;
      width: 50%;
    }
  }

  .projects__footer {
    text-align: center;
  }

  .projects__footer > a {
    display: inline-block;
    width: 100%;
  }

  .call_to_action {
    background-color: var(--black);
    padding-top: var(--page-section-pad-y);
    padding-bottom: var(--page-section-pad-y);
  }

  .call_to_action__headline {
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 6.4rem;
  }

  .call_to_action__headline__emphasis {
    position: relative;
    display: block;
    line-height: 6rem;
    font-size: 5.2rem;
    font-weight: var(--font-bold);
    background: #1faac8;
    background: linear-gradient(to right, #f75c03 28%, #1faac8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2.4rem;
  }
  @media screen and (min-width: 650px) {
    .call_to_action__headline__emphasis {
      font-size: 6.4rem;
      line-height: 7rem;
    }
  }

  .call_to_action__headline__emphasis::after {
    content: "Don't settle for average. Let's discuss how I can make a difference.";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.6;
    transform: scale(1.04);
    filter: blur(5rem) contrast(200%);
    background-image: linear-gradient(90deg, #f75c03 0%, #1faac8 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
</style>
