---
import { Image } from "astro:assets";
import TagPill from "./TagPill.astro";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  slug: string;
  imageSrc: string;
  imageAlt: string;
  tags?: string[];
}

const { title, description, pubDate, slug, imageSrc, imageAlt, tags } =
  Astro.props;
---

<article
  class="bg-grey-2 text-white rounded-xl overflow-hidden flex flex-col h-full shadow-lg transition-transform duration-200 ease-in-out hover:-translate-y-1"
>
  {
    imageSrc && (
      <div class="w-full h-96 relative bg-black overflow-hidden flex justify-center items-center bg-grey-3">
        <a href={slug}>
          <Image
            src={imageSrc}
            alt={imageAlt || title}
            loading="lazy"
            height={620}
            width={416}
            class="object-cover"
          />
        </a>
      </div>
    )
  }
  <section class="p-8 md:p-6 flex-grow">
    <a href={slug} class="group">
      <h3
        class="font-bold mb-2 group-focus:text-secondary text-primary hover:text-secondary line-clamp-2"
      >
        {title}
      </h3>
    </a>
    <time datetime={pubDate.toISOString()} class="text-[1.4rem] block mb-2">
      {
        pubDate.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    {
      tags && tags.length > 0 && (
        <div class="mb-3">
          {tags.map((tag) => (
            <TagPill tag={tag} elementType="span" />
          ))}
        </div>
      )
    }
    <p class="leading-relaxed mb-4 line-clamp-3">
      {description}
    </p>
  </section>
  <footer class="p-8 md:p-6 pt-0 mt-auto">
    <a href={slug} class="cmn_button--outline_primary w-full block text-center">
      Read more
    </a>
  </footer>
</article>
