---
import { Image } from "astro:assets";
import GitHubStats from "./GitHubStats";

interface Props {
  imageSrc: string;
  imageAlt: string;
  title: string;
  description: string;
  techs: string[];
  projectDetailSlug: string;
  projectHref?: string;
  githubRepo?: string;
}

const props = Astro.props;
---

<article
  class="bg-grey-2 text-white rounded-xl overflow-hidden sm:h-full shadow-lg transition-transform duration-200 ease-in-out hover:-translate-y-1"
>
  <div class="flex justify-center">
    <Image
      src={props.imageSrc}
      alt={props.imageAlt}
      height="237"
      width="500"
      loading="lazy"
      class="object-fill h-[237px]"
    />
  </div>
  <section class="p-[18px] pb-0 mb-[32px]">
    <span class="font-bold mb-[16px] line-clamp-2">{props.title}</span>
    <p class="mb-[24px] line-clamp-3">{props.description}</p>
    {props.githubRepo && (
      <div class="mb-[16px]">
        <GitHubStats repo={props.githubRepo} client:visible />
      </div>
    )}
    <footer class="flex justify-start">
      <div class="flex justify-start flex-wrap gap-[10px]">
        {
          props.techs.map((t) => (
            <span class="text-primary border border-primary rounded-[12px] py-[4px] px-[10px] text-[14px]">
              {t}
            </span>
          ))
        }
      </div>
    </footer>
  </section>
  <footer class="p-[18px] pt-0 flex flex-col gap-[12px] mt-auto">
    {
      props.projectHref && (
        <a
          href={props.projectHref}
          target="_blank"
          rel="noopener"
          class="w-full inline-block border border-primary py-[8px] px-[12px] rounded-[6px] text-[16px] text-center text-primary"
        >
          Visit
        </a>
      )
    }
    <a
      href={props.projectDetailSlug}
      class="w-full inline-block border border-primary py-[8px] px-[12px] rounded-[6px] text-[16px] text-center text-primary"
    >
      Detail
    </a>
  </footer>
</article>
